<!DOCTYPE html>
<html>
<head>
  <title>Petshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Currently logged in as <%= current_user.email %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= yield %>

</body>
</html>
